.card {
  width: auto;
  padding: 10px 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0px;
}

.show {
  max-height: 300px;
  padding: 12px;
  transition: max-height 0.2s ease-in;
}

.title {
  margin: 0px;
}
