.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 400px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.box > p {
  color: #2d333a;
  font-size: 0.9rem;
  margin-top: 0px;
  margin-bottom: 25px;
}

.container {
  display: grid;
  grid-template-columns: 90px 1fr;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #333333;
  color: white;
  padding: 10px;
}

.content {
  flex-direction: column;
  display: flex;
  padding: 26px;
}

.card {
  width: 400px;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

/* For Mobile Phones */
@media (max-width: 1025px) {
  .scannerBox {
    width: 300px;
    position: relative;
  }
  .scanner {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .scanner section {
    border-radius: 12px;
    z-index: -1;
  }

  .scanner section div {
    box-shadow: unset !important;
    border: unset !important;
    border-radius: 10px !important;
  }

  .scannerOverlay {
    padding: 15px;
    z-index: 9;
  }
}

/* For Laptops/Desktop */
@media (min-width: 1025px) {
  .scannerBox {
    width: 600px;
    position: relative;
  }
  .scanner {
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .scanner section {
    border-radius: 12px;
    z-index: -1;
  }

  .scanner section div {
    box-shadow: unset !important;
    border: unset !important;
    border-radius: 10px !important;
  }

  .scannerOverlay {
    padding: 15px;
    z-index: 9;
  }
}
